@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400;1,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");
* {
    box-sizing: border-box;
}

body {
    background-color: #e6e6e6;
    font-family: 'Roboto', sans-serif;
    height: auto;
    margin: 0;
    width: 100vw;
}

.navRight {
    position: relative;
    right: 0;
}

.nav-item a.dropdown-item {
    font-size: 0.85em;
    padding: 4px 18px;
    color: rgb(3, 77, 3);
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-item a.dropdown-item:hover {
    font-size: 0.85em;
    padding: 4px 18px;
    color: black;
}

.tProd {
    font-size: 0.9em;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-body {
    min-height: 220px;
}

.mainCon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menuLeft {
    width: 15%;
    background-color: #d6d6d6;
    margin-right: 20px;
}

.menuLeft nav ul {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
}

.menuLeft li div {
    background-color: #c2c2c2;
    margin: 5px 0;
    width: 100%;
    font-size: 0.9em;
}

.menuLeft li div:hover {
    background-color: #006837;
}

.menuLeft li a {
    color: black;
}

.menuLeft li a:hover {
    color: yellow;
    text-decoration: none;
}

.containerP {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contenidoProds {
    min-height: 360px;
    font-weight: 600;
    padding-top: 10px;
    width: 78%;
    background-color: white;
}

.contenidoProds div.centrarProductos {
    display: flex;
    justify-content: center;
    margin: 0;
}

.contenidoProds div.center {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

article {
    width: 240px;
}

main .asideLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    padding: 3.8% 0;
}

main .asideRight {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    padding: 3.8% 0;
}

.sus {
    background-color: #ff931e;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 15px;
}

.susDiv {
    border-left: 10px solid #feff1d;
    border-left-style: double;
    width: 35%;
    display: flex;
    justify-content: center;
    transform: skew(-15deg);
    color: white;
    font-size: 1.2em;
    padding: 15px 0;
}

.susDiv a {
    text-decoration: none;
    color: yellow;
}

.susDiv a:hover {
    color: #006837;
}


/*La Empresa*/

main .sectionEmp {
    width: 64%;
}

main h1 {
    color: #006837;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
}

.sectionEmp .pEm {
    border-left: 5px solid #006837;
    padding: 10px;
    font-weight: 200;
}


/*Servicios*/

main .sectionSer {
    width: 64%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sectionSer p i {
    color: #006837;
    padding: 5px 10px;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.i {
    width: 50px;
}

.sectionSer div {
    display: flex;
    align-items: center;
}

.sectionSer h1 {
    color: #006837;
    padding: 30px 0;
}

.sectionSer p {
    padding: 0 5%;
}

.asideLeftSer {
    background-image: url("../img/berlingo-.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 70%;
    width: 20%;
    margin-top: 5%;
}

main .asideRightSer {
    display: flex;
    justify-content: center;
    width: 24%;
    padding: 3.8% 0;
    align-items: center;
}

.sectionSer>div {
    margin: 5px 0px;
}


/*Contacto*/

.sectionCon {
    width: 55%;
}

.asideLeftCon {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 20%;
    margin-top: 10%;
    align-items: center;
}

.leftCon {
    background-color: #006837;
    color: white;
    margin: 5px 0;
    text-align: center;
    padding: 10px;
    height: auto;
}

.divLeft {
    background-color: #028849;
    margin: 0 15px;
    font-size: 0.8em;
}

.asideRightCon {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 24%;
    padding: 3.8% 0;
    align-items: center;
    margin-right: 15px;
}


/* navbar */

header {
    width: 100%;
    font-size: 1em;
    border-bottom: 10px solid #006837;
}

.main-nav {
    color: #006837;
    flex-wrap: wrap;
    width: 100%;
    justify-content: right;
}

.material-icons {
    color: black;
    font-size: 2em;
}

.nav-access li {
    display: none;
}

.navbar-light .navbar-nav {
    color: rgb(4, 93, 4);
    font-weight: 600;
}

.dropdown-item li a {
    color: rgb(3, 77, 3);
}

a.nav-link {
    color: rgb(3, 77, 3);
    font-weight: 600;
}

a.nav-link:hover {
    background-color: gainsboro;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: green;
}

.navbar-brand {
    margin-right: 20%;
}

.textoLogo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient( to right, white, yellow);
    padding: 5px 15px;
    height: 15%;
}

.imgLogo {
    width: 295px;
    height: 35px;
}

.textML a {
    color: #2e3192;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}

.textML a:hover {
    color: #006837;
}

.navbar {
    padding: 0 1rem;
}


/*footer*/

footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ff931e;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 0px;
}

h4 {
    font-size: 0.9em;
    font-weight: 600;
    color: #333333;
}

.footerText>p {
    color: white;
    font-size: 0.8em;
}

.footerText i {
    font-size: 1em;
    margin-right: 3px;
}

.footerText a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.footerText a:hover {
    color: #333333;
}

.footerText {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

footer a img {
    margin: 0 20px;
}

footer a:hover {
    opacity: 50%;
}

h1 {
    font-size: 1.2em;
    font-weight: 600;
    color: #333333;
}


/*marcas*/

.marcas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}


/*productos/index*/

.productos nav {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 15px 0;
}

.productos nav ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.productos nav li a {
    text-decoration: none;
    font-style: italic;
    color: white;
    text-align: left;
}

.productos nav li a:hover {
    color: yellow;
}

.productos nav li div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 10px;
}

.productos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.productos h2 {
    font-size: 0.9em;
    text-align: left;
    margin: 0;
    padding-bottom: 2px;
}

#link1 {
    width: 170px;
    height: 271px;
    background-image: url("../img/botonera-ppal/btn_fdo_const.png");
}

#link1:hover {
    background-image: url("../img/botonera-ppal/btn_fdo_const-H.png");
}

#link2 {
    width: 170px;
    height: 271px;
    background-image: url("../img/botonera-ppal/btn_fdo_marm.png");
}

#link2:hover {
    background-image: url("../img/botonera-ppal/btn_fdo_marm-H.png");
}

#link3 {
    width: 170px;
    height: 271px;
    background-image: url("../img/botonera-ppal/btn_fdo_des.png");
}

#link3:hover {
    background-image: url("../img/botonera-ppal/btn_fdo_des-H.png");
}

#link4 {
    width: 170px;
    height: 271px;
    background-image: url("../img/botonera-ppal/btn_fdo_gress.png");
}

#link4:hover {
    background-image: url("../img/botonera-ppal/btn_fdo_gress-H.png");
}

#link5 {
    width: 170px;
    height: 271px;
    background-image: url("../img/botonera-ppal/btn_fdo_mos.png");
}

#link5:hover {
    background-image: url("../img/botonera-ppal/btn_fdo_mos-H.png");
}

#link6 {
    width: 170px;
    height: 271px;
    background-image: url("../img/botonera-ppal/btn_fdo_herr.png");
}

#link6:hover {
    background-image: url("../img/botonera-ppal/btn_fdo_herr-H.png");
}

#menusProd ul {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #006837;
    color: white;
}

#menusProd ul li a {
    text-decoration: none;
    font-style: italic;
    color: white;
    text-align: left;
}

#menusProd ul li a:hover {
    color: yellow;
}

.menu-collapse {
    display: none;
}

.fdoBt {
    width: 100%;
    height: 65px;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.fdoBt:hover {
    background-color: #006837;
}

main.productos>nav>ul>li.fdoBt>a>div>h2 {
    font-size: 0.8em;
    text-align: center;
    padding-right: 5x;
}

h6 {
    font-size: 0.9em;
    text-align: center;
}

.card-header {
    text-align: center;
    font-size: 0.9em;
}

.fdoCon2 {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #006837;
    color: white;
}

.bg {
    display: none;
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 0;
    top: 0;
    opacity: .8;
}

.formSuscrip {
    display: none;
    background-color: #fff;
    font-size: 0.9em;
    width: 360px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    padding: 20px;
    border-radius: 5px;
}

#suscribirme {
    background-color: #ff931e;
    color: yellow;
    font-size: medium;
    border: 0;
}

@media (max-width: 1280px) {
    header {
        font-size: 0.9em;
    }
    .susDiv {
        width: 40%;
    }
    .marcas img.filaAbajo {
        width: 14%;
    }
}

@media (max-width: 1024px) {
    .marcas img.filaArriba {
        width: 20%;
    }
    .navbar-brand {
        margin-right: 0%;
    }
    .navbar-brand>img {
        width: 80%;
    }
    main .sectionEmp {
        width: 60%;
    }
    main .sectionSer {
        width: 60%;
    }
    .sectionCon {
        width: 60%;
    }
    .susDiv {
        width: 40%;
    }
    .contenidoProds {
        width: 68%;
    }
    .contenidoProds div.centrarProductos {
        display: flex;
        justify-content: center;
    }
    .menuLeft {
        width: 26%;
        background-color: #d6d6d6;
        margin-right: 1%;
    }
}

@media (max-width: 1023px) {
    div#acordionExample.acordion {
        width: 100%;
    }
    .productos nav li {
        display: none;
        width: 1px;
        height: 1px;
    }
    .productos nav li div {
        display: none;
        width: 1px;
        height: 1px;
    }
    .menu-collapse {
        display: flex;
        align-items: center;
        width: 100%;
    }
    a.btn-secundario.collapsed {
        width: 100vw;
        height: auto;
        background-color: #666666;
        color: white;
        border: 3px;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid #e6e6e6;
        padding-right: 15px;
        text-align: right;
    }
    a.btn-secundario {
        width: 100vw;
        height: auto;
        background-color: #666666;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        align-items: center;
        text-align: right;
    }
    a.btn-secundario:hover {
        color: yellow;
        background-color: #006837;
    }
    a.btn-secundario.collapsed:hover {
        color: white;
        background-color: #666666;
    }
    .fdoCon {
        width: 100vw;
        background-color: #666666;
        color: white;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    .fdoCon2 {
        width: 100vw;
        background-color: #006837;
        color: white;
        font-size: 1.2em;
        display: flex;
        justify-content: center;
        align-items: stretch;
    }
    .fdoMenuColl {
        background-color: #006837;
    }
    a.MenColl {
        color: white;
        text-decoration: none;
    }
    a.MenColl:hover {
        color: yellow;
    }
}

@media (max-width: 823px) {
    header {
        font-size: 1em;
    }
    .susDiv {
        width: 50%;
    }
    footer {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    h4 {
        font-size: 0.9em;
        margin: 15px 0
    }
    .footerText {
        font-size: 0.7em;
    }
    footer a img {
        margin: 15px 10px;
    }
    footer a:hover {
        margin: 15px 10px;
    }
    /*La empresa*/
    main .asideLeft {
        width: 35%;
    }
    main .asideLeft img {
        width: 20vw;
    }
    main .asideRight img {
        display: none;
        width: 1%;
    }
    main .asideRight {
        display: none;
        width: 1%;
    }
    main .sectionEmp {
        width: 75%;
    }
    /*servicios*/
    main .sectionSer {
        width: 75%;
    }
    main .asideRightSer {
        display: none;
        width: 0%;
    }
    /*contacto*/
    .sectionCon {
        width: 75%;
        margin: auto;
    }
    .asideLeftCon {
        width: 100vw;
        margin: 10px 0;
    }
    .asideRightCon {
        width: 100%;
    }
    .asideRightCon>iframe {
        width: 80vw;
    }
    .mainCon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .contenidoProds {
        width: 69%;
    }
    .menuLeft {
        width: 30%;
        background-color: #d6d6d6;
        margin: 0px;
    }
}

@media (max-width: 768px) {
    .contenidoProds {
        width: 74%;
    }
    .menuLeft {
        width: 25%;
        background-color: #d6d6d6;
        margin: 0px;
    }
    article {
        width: 220px;
    }
}

@media (max-width: 736px) {
    .susDiv {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .contenidoProds {
        width: 100%;
    }
    .menuLeft {
        width: 100%;
    }
}

@media (max-width: 653px) {
    .imgLogo {
        visibility: hidden;
        width: 1%;
        height: 1%;
    }
    .sectionSer>div:nth-child(-n+4) {
        border-bottom: 1px solid grey;
    }
}

@media (max-width: 640px) {
    .susDiv {
        width: 75%;
    }
    footer {
        flex-direction: column;
        justify-content: space-around;
    }
    .footerText {
        text-align: center;
        margin: 0 5%;
        border-bottom: 2px solid #333333;
        font-size: 0.9em;
    }
    footer a img {
        margin: 3% 45%;
    }
    footer a:hover {
        margin: 3% 45%;
    }
    h4 {
        font-size: 1em;
        margin: 15px 0
    }
    /*La empresa*/
    main {
        flex-direction: column;
    }
    main .asideLeft img {
        display: none;
    }
    main .asideLeft {
        background-image: url("../img/fachada2.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        padding: 8%;
        width: inherit;
    }
    main .asideRight img {
        display: none;
        width: 1%;
    }
    main .asideRight {
        display: none;
        width: 1%;
    }
    /*La Empresa*/
    main .sectionEmp {
        width: 95%;
        margin: 0 15px;
    }
    main .sectionSer {
        width: 95%;
        margin: 0 15px;
    }
}

@media (max-width:414px) {
    .marcas img.filaArriba {
        width: 50%;
    }
    .marcas img.filaAbajo {
        width: 50%;
    }
    .susDiv {
        width: 98%;
    }
    main .asideLeft {
        background-size: 414px 200px;
    }
    .fdoCon {
        font-size: 1em;
    }
}

@media (max-width: 375px) {
    .susDiv {
        font-size: 1.1em;
    }
    main .asideLeft {
        background-size: 360px 150px;
        padding: 10%;
    }
    footer a img {
        margin: 3% 42%;
    }
    footer a:hover {
        margin: 3% 42%;
    }
}

@media (max-width: 360px) {
    .fdoCon {
        font-size: 1em;
    }
    .fdoCon2 {
        font-size: 1em;
    }
    .textML a {
        font-size: 1em;
    }
    footer a img {
        margin: 5% 42%;
    }
    .navbar-brand>img {
        width: 60%;
    }
    .fdoCon {
        font-size: 0.9em;
    }
    .fdoCon2 {
        font-size: 0.9em;
    }
}

@media (max-width: 320px) {
    .textML a {
        font-size: 0.8em;
    }
    footer a img {
        margin: 3% 42%;
    }
    footer a:hover {
        margin: 3% 42%;
    }
    .navbar-toggler {
        padding: 0;
    }
}

@media (max-width: 280px) {
    .textML a {
        font-size: 0.8em;
    }
    .textML img {
        width: 40%;
    }
}