@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400;1,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
@import url("https://use.fontawesome.com/releases/v5.14.0/css/all.css");

* {
  box-sizing: border-box;
}


body {
  background-color: #e6e6e6;
  font-family: 'Roboto', sans-serif;
  height: auto;
  margin: 0;
  width: 100%;

}

.navRight{

position: relative;
right: 0;
}

.nav-item a.dropdown-item{
    font-size:0.85em;
    padding: 4px 18px;
    color: rgb(3, 77, 3);
} 

.nav-item a.dropdown-item:hover{
    font-size:0.85em;
    padding: 4px 18px;
    color:black;
} 

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a{
  text-decoration: none;

}


/* navbar */
header {
  width: 100%;
  font-size: 1em;
  border-bottom: 10px solid #006837;
}

.main-nav{
 color: #006837;
  flex-wrap: wrap;
  width: 100%;
  justify-content: right;
}

.material-icons{
  color: black;
  font-size: 2em;
}


.nav-access li{
  display: none;
}

.navbar-light .navbar-nav  {
    color:rgb(4, 93, 4);
    font-weight: 600;
}

.dropdown-item li a {
  color:rgb(3, 77, 3);
}

a.nav-link{
    color:rgb(3, 77, 3);
    font-weight: 600;
}

a.nav-link:hover{
   background-color:gainsboro ;
   
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: green;
    
}
.navbar-brand{
    margin-right: 20%;
}

.textoLogo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: linear-gradient(to right, white, yellow);
    padding:5px 15px;
    height: 15%;
}

.imgLogo{
    width: 295px;
    height: 35px;
}

.textML a{
    color:#2e3192 ;
    font-size: 1.2em;
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}
.textML a:hover{
    color: #006837;
}
.navbar{
    padding:0 1rem;
}

/*footer*/

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #f7931e;
    padding: 15px;
    position: relative;
    width: 100%;
    bottom: 0px;     
}

h4{
    font-size: 0.9em;
    font-weight: 600;
    color: #333333;
}

.footerText>p{
    color: white;
    font-size: 0.8em;
}

.footerText i{
    font-size: 1em; 
    margin-right:3px;
}

.footerText a{
  text-decoration: none;
  color: white;
  font-size:2em;
  margin:0 25%;
}
.footerText a:hover{
  color: #333333;
}

.footerText{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

footer a img{
 margin: 0 20px;
}

footer a:hover{
 opacity: 50%;   
}
 

@media (max-width: 1024px){

.navbar-brand{
    margin-right: 0%;
}

.navbar-brand>img{
    width: 80%;
}

@media (max-width: 823px){
  footer{
    flex-wrap: wrap;
} 
footer{
  flex-direction: row;
  justify-content: space-around;
  } 

  .footerText{
    text-align: center;
    margin: 2% ;
    padding: 50px;
    
  }

  footer a img{
    margin: 0 300px;
   }
   
  footer a:hover{
    margin: 0 300px;
    padding: 50px;
   }


}



@media (max-width: 375px){

  

  footer a img {
    margin: 3% 42%;

  }
  footer a:hover {
    margin: 3% 42%;

  }


}

@media (max-width: 653px){
.imgLogo{
  visibility: hidden;
  width: 1%;
  height: 1%;
}
}

@media (max-width: 640px){


footer{
  flex-direction: column;
  justify-content: space-around;
  } 

  .footerText{
    text-align: center;
    margin: 0 5%;
    border-bottom: 2px solid #333333 ;
  }

  footer a img{
    margin: 3% 45%;
   }
   
   footer a:hover{
    margin: 3% 45%;
   }

}




@media (max-width: 340px){
  

  .textML a{
  font-size:1em;
  }

  footer a img {
    margin: 5% 42%;

  }


.navbar-brand>img {
  width: 60%;
}
}
@media (max-width: 320px){

  .textML a{
  font-size:0.9em;
  }

  footer a img {
    margin: 3% 42%;

  }
  footer a:hover {
    margin: 3% 42%;

  }

  .navbar-toggler {
    padding: 0 ;
}
}
@media (max-width: 280px){

  .textML a{
    font-size:0.8em;
    }
    .textML img{
      width: 40%;
       }


}

}